#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE 0
#define NUM 1
#define SYM 2
#define NAV 3
#define MOUSE 4
#define FUN 5

#define K0 0
#define K1 1
#define K2 2
#define K3 3
#define K4 4
#define K5 5
#define K6 6
#define K7 7
#define K8 8
#define K9 9
#define K10 10
#define K11 11
#define K12 12

/ {
    behaviors {
        skp: superkey {
            compatible = "zmk,behavior-superkey";
            display-name = "SuperKey";
            #binding-cells = <1>;
            tapping-term-ms = <150>;
            double-tap-ms = <250>;
            release-after-ms = <3000>;
        };

        k0_nav_base: k0_nav_base {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&to NAV>, <&to BASE>;
        };
    };

    #define COMBO_GLOBAL(NAME, BINDINGS, KEYPOS) \
    combo_##NAME { \
        timeout-ms = <50>; \
        bindings = <BINDINGS>; \
        key-positions = <KEYPOS>; \
    };

    #define COMBO_LAYER(NAME, BINDINGS, KEYPOS, LAYERS) \
    combo_##NAME { \
        timeout-ms = <50>; \
        bindings = <BINDINGS>; \
        key-positions = <KEYPOS>; \
        layers = <LAYERS>; \
    };

    #define COMBO_ACCESS(NAME, BINDINGS, KEYPOS) \
    combo_##NAME { \
        timeout-ms = <500>; \
        bindings = <BINDINGS>; \
        key-positions = <KEYPOS>; \
    };

    combos {
        compatible = "zmk,combos";

        COMBO_GLOBAL(tab, &kp TAB, K3 K2 K1)
        COMBO_GLOBAL(enter, &kp ENTER, K7 K6 K5)

        COMBO_ACCESS(access_num, &to NUM, K12 K0)
        COMBO_ACCESS(access_sym, &to SYM, K11 K0)
        COMBO_ACCESS(access_mouse, &to MOUSE, K10 K0)
        COMBO_ACCESS(access_fun, &to FUN, K8 K0)

        COMBO_LAYER(alpha_d, &kp D, K3 K7, BASE)
        COMBO_LAYER(alpha_l, &kp L, K2 K6, BASE)
        COMBO_LAYER(alpha_y, &kp Y, K1 K5, BASE)
        COMBO_LAYER(alpha_r, &kp R, K2 K3, BASE)
        COMBO_LAYER(alpha_c, &kp C, K1 K2, BASE)
        COMBO_LAYER(alpha_h, &kp H, K6 K7, BASE)
        COMBO_LAYER(alpha_u, &kp U, K5 K6, BASE)
        COMBO_LAYER(alpha_m, &kp M, K1 K3, BASE)
        COMBO_LAYER(alpha_w, &kp W, K5 K7, BASE)
        COMBO_LAYER(alpha_p, &kp P, K4 K5, BASE)
        COMBO_LAYER(alpha_g, &kp G, K2 K7, BASE)
        COMBO_LAYER(alpha_b, &kp B, K2 K5, BASE)
        COMBO_LAYER(alpha_f, &kp F, K2 K4, BASE)
        COMBO_LAYER(alpha_v, &kp V, K1 K4, BASE)
        COMBO_LAYER(alpha_k, &kp K, K3 K5, BASE)
        COMBO_LAYER(alpha_z, &kp Z, K3 K4, BASE)
        COMBO_LAYER(alpha_x, &kp X, K1 K7, BASE)
        COMBO_LAYER(alpha_j, &kp J, K4 K7, BASE)
        COMBO_LAYER(alpha_q, &kp Q, K1 K6, BASE)

        COMBO_LAYER(num_4, &kp N4, K3 K7, NUM)
        COMBO_LAYER(num_5, &kp N5, K2 K6, NUM)
        COMBO_LAYER(num_6, &kp N6, K1 K5, NUM)
        COMBO_LAYER(num_plus, &kp PLUS, K2 K3, NUM)
        COMBO_LAYER(num_minus, &kp MINUS, K1 K2, NUM)
        COMBO_LAYER(num_star, &kp STAR, K6 K7, NUM)
        COMBO_LAYER(num_slash, &kp FSLH, K5 K6, NUM)
        COMBO_LAYER(num_equal, &kp EQUAL, K1 K3, NUM)
        COMBO_LAYER(num_dot, &kp DOT, K4 K5, NUM)
        COMBO_LAYER(num_comma, &kp COMMA, K2 K5, NUM)
        COMBO_LAYER(num_colon, &kp COLON, K2 K4, NUM)
        COMBO_LAYER(num_semi, &kp SEMI, K5 K7, NUM)
        COMBO_LAYER(num_percent, &kp PRCNT, K2 K7, NUM)
        COMBO_LAYER(num_caret, &kp CARET, K1 K4, NUM)

        COMBO_LAYER(sym_slash, &kp FSLH, K3 K7, SYM)
        COMBO_LAYER(sym_star, &kp STAR, K2 K6, SYM)
        COMBO_LAYER(sym_bslash, &kp BSLH, K1 K5, SYM)
        COMBO_LAYER(sym_lt, &kp LT, K2 K3, SYM)
        COMBO_LAYER(sym_gt, &kp GT, K1 K2, SYM)
        COMBO_LAYER(sym_lbrace, &kp LBRC, K6 K7, SYM)
        COMBO_LAYER(sym_rbrace, &kp RBRC, K5 K6, SYM)
        COMBO_LAYER(sym_under, &kp UNDER, K1 K3, SYM)
        COMBO_LAYER(sym_qmark, &kp QMARK, K5 K7, SYM)
        COMBO_LAYER(sym_dquote, &kp DQT, K4 K5, SYM)
        COMBO_LAYER(sym_amp, &kp AMPS, K2 K7, SYM)
        COMBO_LAYER(sym_pipe, &kp PIPE, K2 K5, SYM)
        COMBO_LAYER(sym_at, &kp AT, K2 K4, SYM)
        COMBO_LAYER(sym_dollar, &kp DLLR, K1 K4, SYM)
        COMBO_LAYER(sym_tilde, &kp TILDE, K3 K5, SYM)
        COMBO_LAYER(sym_exclaim, &kp EXCL, K3 K4, SYM)
        COMBO_LAYER(sym_hash, &kp HASH, K1 K7, SYM)
        COMBO_LAYER(sym_sqt, &kp SQT, K4 K7, SYM)
        COMBO_LAYER(sym_grave, &kp GRAVE, K3 K6, SYM)

        COMBO_LAYER(nav_line_left, &kp HOME, K3 K7, NAV)
        COMBO_LAYER(nav_line_right, &kp END, K1 K5, NAV)
        COMBO_LAYER(nav_scroll_up, &msc SCRL_UP, K2 K3, NAV)
        COMBO_LAYER(nav_scroll_down, &msc SCRL_DOWN, K1 K2, NAV)
        COMBO_LAYER(nav_word_left, &kp LC(LEFT), K6 K7, NAV)
        COMBO_LAYER(nav_word_right, &kp LC(RIGHT), K5 K6, NAV)
        COMBO_LAYER(nav_esc, &kp ESC, K1 K3, NAV)
        COMBO_LAYER(nav_del, &kp DEL, K2 K6, NAV)
        COMBO_LAYER(nav_pgdn, &kp PG_DN, K5 K7, NAV)
        COMBO_LAYER(nav_caps, &kp CAPS, K2 K7, NAV)
        COMBO_LAYER(nav_ins, &kp INS, K2 K5, NAV)
        COMBO_LAYER(nav_app, &kp K_APP, K2 K4, NAV)

        COMBO_LAYER(mouse_left_fast, &mmv MOVE_LEFT, K3 K7, MOUSE)
        COMBO_LAYER(mouse_down_fast, &mmv MOVE_DOWN, K2 K6, MOUSE)
        COMBO_LAYER(mouse_right_fast, &mmv MOVE_RIGHT, K1 K5, MOUSE)
        COMBO_LAYER(mouse_scroll_left, &msc SCRL_LEFT, K6 K7, MOUSE)
        COMBO_LAYER(mouse_scroll_right, &msc SCRL_RIGHT, K5 K6, MOUSE)
        COMBO_LAYER(mouse_scroll_up_fast, &msc SCRL_UP, K5 K7, MOUSE)
        COMBO_LAYER(mouse_drag, &mkp LCLK, K4 K5, MOUSE)
        COMBO_LAYER(mouse_btn4, &mkp MB4, K2 K7, MOUSE)
        COMBO_LAYER(mouse_scroll_down_fast, &msc SCRL_DOWN, K2 K5, MOUSE)

        COMBO_LAYER(fun_f4, &kp F4, K3 K7, FUN)
        COMBO_LAYER(fun_f5, &kp F5, K2 K6, FUN)
        COMBO_LAYER(fun_f6, &kp F6, K1 K5, FUN)
        COMBO_LAYER(fun_vol_up, &kp C_VOL_UP, K2 K3, FUN)
        COMBO_LAYER(fun_vol_down, &kp C_VOL_DN, K1 K2, FUN)
        COMBO_LAYER(fun_prev, &kp C_PREV, K6 K7, FUN)
        COMBO_LAYER(fun_next, &kp C_NEXT, K5 K6, FUN)
        COMBO_LAYER(fun_f11, &kp F11, K1 K3, FUN)
        COMBO_LAYER(fun_f12, &kp F12, K5 K7, FUN)
        COMBO_LAYER(fun_mute, &kp C_MUTE, K4 K5, FUN)
        COMBO_LAYER(fun_play, &kp C_PP, K2 K7, FUN)
        COMBO_LAYER(fun_bri_up, &kp C_BRI_UP, K2 K5, FUN)
        COMBO_LAYER(fun_bri_down, &kp C_BRI_DN, K2 K4, FUN)
        COMBO_LAYER(fun_studio_unlock, &studio_unlock, K3 K4, FUN)
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            bindings = <
                &k0_nav_base         &kp S      &kp N      &kp I
                &kp A                &kp O      &kp T      &kp E
                &skp LEFT_CONTROL    &skp LEFT_GUI &skp LEFT_ALT &lt SYM BSPC &mt LEFT_SHIFT SPACE
            >;
        };

        num_layer {
            bindings = <
                &k0_nav_base      &kp N9     &kp N8     &kp N7
                &kp N0            &kp N3     &kp N2     &kp N1
                &skp LEFT_CONTROL &skp LEFT_GUI &skp LEFT_ALT &lt SYM BSPC &mt LEFT_SHIFT SPACE
            >;
        };

        sym_layer {
            bindings = <
                &k0_nav_base      &kp RPAR   &kp COLON  &kp LPAR
                &kp SEMI          &kp RBKT   &kp EQUAL  &kp LBKT
                &skp LEFT_CONTROL &skp LEFT_GUI &skp LEFT_ALT &lt SYM BSPC &mt LEFT_SHIFT SPACE
            >;
        };

        nav_layer {
            bindings = <
                &k0_nav_base      &kp END    &kp UP     &kp HOME
                &kp PG_UP         &kp RIGHT  &kp DOWN   &kp LEFT
                &skp LEFT_CONTROL &skp LEFT_GUI &skp LEFT_ALT &lt SYM BSPC &mt LEFT_SHIFT SPACE
            >;
        };

        mouse_layer {
            bindings = <
                &k0_nav_base      &msc SCRL_DOWN &mmv MOVE_UP   &msc SCRL_UP
                &mkp MCLK         &mmv MOVE_RIGHT &mmv MOVE_DOWN &mmv MOVE_LEFT
                &skp LEFT_CONTROL &skp LEFT_GUI  &skp LEFT_ALT  &mkp RCLK     &mkp LCLK
            >;
        };

        fun_layer {
            bindings = <
                &k0_nav_base      &kp F9     &kp F8     &kp F7
                &kp F10           &kp F3     &kp F2     &kp F1
                &skp LEFT_CONTROL &skp LEFT_GUI &skp LEFT_ALT &lt SYM BSPC &mt LEFT_SHIFT SPACE
            >;
        };
    };
};
