#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>

#define BASE 0
#define NUM 1
#define SYM 2
#define NAV 3
#define MOUSE 4
#define FUNC 5
#define SYS 6
#define MEDIA 7
#define MOUSE_FAST 8

#define FAST_MOVE_UP MOVE_Y(-1800)
#define FAST_MOVE_DOWN MOVE_Y(1800)
#define FAST_MOVE_LEFT MOVE_X(-1800)
#define FAST_MOVE_RIGHT MOVE_X(1800)
#define FAST_SCRL_UP MOVE_Y(30)
#define FAST_SCRL_DOWN MOVE_Y(-30)

#define K0 0
#define K1 1
#define K2 2
#define K3 3
#define K4 4
#define K5 5
#define K6 6
#define K7 7
#define K8 8
#define K9 9
#define K10 10
#define K11 11
#define K12 12

/ {
    behaviors {
        skp: superkey {
            compatible = "zmk,behavior-superkey";
            display-name = "SuperKey";
            #binding-cells = <1>;
            tapping-term-ms = <150>;
            double-tap-ms = <250>;
            release-after-ms = <3000>;
        };

        nav_media: nav_media {
            compatible = "zmk,behavior-hold-tap";
            display-name = "NAV / MEDIA";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <180>;
            bindings = <&mo>, <&to>;
        };

        mouse_btclr: mouse_btclr {
            compatible = "zmk,behavior-hold-tap";
            display-name = "MOUSE / BT Clear";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <250>;
            bindings = <&bt>, <&to>;
        };

        fmmv: fast_mouse_move {
            compatible = "zmk,behavior-input-two-axis";
            #binding-cells = <1>;
            x-input-code = <INPUT_REL_X>;
            y-input-code = <INPUT_REL_Y>;
            time-to-max-speed-ms = <120>;
            acceleration-exponent = <1>;
        };

        fmsc: fast_mouse_scroll {
            compatible = "zmk,behavior-input-two-axis";
            #binding-cells = <1>;
            x-input-code = <INPUT_REL_HWHEEL>;
            y-input-code = <INPUT_REL_WHEEL>;
            time-to-max-speed-ms = <120>;
            acceleration-exponent = <0>;
        };
    };

    fmmv_input_listener: fmmv_input_listener {
        compatible = "zmk,input-listener";
        device = <&fmmv>;
    };

    fmsc_input_listener: fmsc_input_listener {
        compatible = "zmk,input-listener";
        device = <&fmsc>;
    };
};

/ {
    #define COMBO_GLOBAL(NAME, BINDINGS, KEYPOS) \
    combo_##NAME { \
        timeout-ms = <20>; \
        bindings = <BINDINGS>; \
        key-positions = <KEYPOS>; \
    };

    #define COMBO_ACCESS(NAME, BINDINGS, KEYPOS) \
    combo_##NAME { \
        timeout-ms = <20>; \
        bindings = <BINDINGS>; \
        key-positions = <KEYPOS>; \
    };

    #define COMBO_LAYER(NAME, BINDINGS, KEYPOS, LAYERS) \
    combo_##NAME { \
        timeout-ms = <20>; \
        bindings = <BINDINGS>; \
        key-positions = <KEYPOS>; \
        layers = <LAYERS>; \
    };

    combos {
        compatible = "zmk,combos";

        /* Global utility / layer access */
        COMBO_GLOBAL(tab, &kp TAB, K3 K2 K1)
        COMBO_GLOBAL(enter, &kp ENTER, K7 K6 K5)
        COMBO_GLOBAL(esc, &kp ESC, K6 K5 K4)

        COMBO_ACCESS(access_sym, &mo SYM, K11 K12)
        COMBO_ACCESS(access_nav, &to NAV, K0 K12)
        COMBO_ACCESS(access_mouse, &to MOUSE, K0 K11)
        COMBO_ACCESS(access_func, &to FUNC, K0 K10)

        /* ALPHA */
        COMBO_LAYER(alpha_d, &kp D, K3 K7, BASE)
        COMBO_LAYER(alpha_l, &kp L, K2 K6, BASE)
        COMBO_LAYER(alpha_b, &kp B, K1 K5, BASE)
        COMBO_LAYER(alpha_r, &kp R, K2 K3, BASE)
        COMBO_LAYER(alpha_c, &kp C, K1 K2, BASE)
        COMBO_LAYER(alpha_h, &kp H, K6 K7, BASE)
        COMBO_LAYER(alpha_u, &kp U, K5 K6, BASE)
        COMBO_LAYER(alpha_m, &kp M, K1 K3, BASE)
        COMBO_LAYER(alpha_w, &kp W, K5 K7, BASE)
        COMBO_LAYER(alpha_p, &kp P, K4 K5, BASE)
        COMBO_LAYER(alpha_y, &kp Y, K2 K7, BASE)
        COMBO_LAYER(alpha_g, &kp G, K2 K5, BASE)
        COMBO_LAYER(alpha_f, &kp F, K3 K6, BASE)
        COMBO_LAYER(alpha_v, &kp V, K1 K4, BASE)
        COMBO_LAYER(alpha_k, &kp K, K3 K5, BASE)
        COMBO_LAYER(alpha_z, &kp Z, K3 K4, BASE)
        COMBO_LAYER(alpha_x, &kp X, K1 K7, BASE)
        COMBO_LAYER(alpha_j, &kp J, K4 K7, BASE)
        COMBO_LAYER(alpha_q, &kp Q, K1 K6, BASE)

        /* NUM */
        COMBO_LAYER(num_4, &kp N4, K3 K7, NUM)
        COMBO_LAYER(num_5, &kp N5, K2 K6, NUM)
        COMBO_LAYER(num_6, &kp N6, K1 K5, NUM)
        COMBO_LAYER(num_plus, &kp PLUS, K2 K3, NUM)
        COMBO_LAYER(num_minus, &kp MINUS, K1 K2, NUM)
        COMBO_LAYER(num_star, &kp STAR, K6 K7, NUM)
        COMBO_LAYER(num_slash, &kp FSLH, K5 K6, NUM)
        COMBO_LAYER(num_comma, &kp COMMA, K1 K4, NUM)
        COMBO_LAYER(num_dot, &kp DOT, K4 K5, NUM)
        COMBO_LAYER(num_semi, &kp SEMI, K3 K4, NUM)
        COMBO_LAYER(num_colon, &kp COLON, K4 K7, NUM)
        COMBO_LAYER(num_equal, &kp EQUAL, K1 K3, NUM)
        COMBO_LAYER(num_percent, &kp PRCNT, K2 K7, NUM)
        COMBO_LAYER(num_caret, &kp CARET, K3 K6, NUM)
        COMBO_LAYER(num_lt, &kp LT, K2 K5, NUM)
        COMBO_LAYER(num_gt, &kp GT, K1 K6, NUM)
        COMBO_LAYER(num_lpar, &kp LPAR, K1 K7, NUM)
        COMBO_LAYER(num_rpar, &kp RPAR, K3 K5, NUM)

        /* SYM */
        COMBO_LAYER(sym_semi, &kp SEMI, K2 K6, SYM)
        COMBO_LAYER(sym_slash, &kp FSLH, K2 K7, SYM)
        COMBO_LAYER(sym_bslash, &kp BSLH, K3 K6, SYM)
        COMBO_LAYER(sym_lt, &kp LT, K2 K3, SYM)
        COMBO_LAYER(sym_gt, &kp GT, K1 K2, SYM)
        COMBO_LAYER(sym_lbrace, &kp LBRC, K6 K7, SYM)
        COMBO_LAYER(sym_rbrace, &kp RBRC, K5 K6, SYM)
        COMBO_LAYER(sym_dquote, &kp DQT, K4 K5, SYM)
        COMBO_LAYER(sym_grave, &kp GRAVE, K1 K4, SYM)
        COMBO_LAYER(sym_under, &kp UNDER, K5 K7, SYM)
        COMBO_LAYER(sym_pipe, &kp PIPE, K3 K7, SYM)
        COMBO_LAYER(sym_amp, &kp AMPS, K2 K5, SYM)
        COMBO_LAYER(sym_at, &kp AT, K1 K5, SYM)
        COMBO_LAYER(sym_qmark, &kp QMARK, K4 K7, SYM)
        COMBO_LAYER(sym_exclaim, &kp EXCL, K3 K4, SYM)
        COMBO_LAYER(sym_hash, &kp HASH, K1 K7, SYM)
        COMBO_LAYER(sym_dollar, &kp DLLR, K3 K5, SYM)
        COMBO_LAYER(sym_tilde, &kp TILDE, K1 K3, SYM)


        /* FUNC */
        COMBO_LAYER(func_f7, &kp F7, K3 K7, FUNC)
        COMBO_LAYER(func_f8, &kp F8, K2 K6, FUNC)
        COMBO_LAYER(func_f9, &kp F9, K1 K5, FUNC)
        COMBO_LAYER(func_f10, &kp F10, K2 K3, FUNC)
        COMBO_LAYER(func_f11, &kp F11, K1 K2, FUNC)

        /* MOUSE optional side buttons */
        COMBO_LAYER(mouse_btn4, &mkp MB4, K4 K1, MOUSE)
        COMBO_LAYER(mouse_btn5, &mkp MB5, K4 K3, MOUSE)
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            bindings = <
                &mo SYS         &kp S       &kp N       &kp I
                &kp A           &kp O       &kp T       &kp E
                &skp LEFT_CONTROL &skp LEFT_GUI &skp LEFT_ALT &lt NUM BSPC &mt LEFT_SHIFT SPACE
            >;
        };

        num_layer {
            bindings = <
                &to BASE        &kp N9      &kp N8      &kp N7
                &kp N0          &kp N3      &kp N2      &kp N1
                &skp LEFT_CONTROL &skp LEFT_GUI &skp LEFT_ALT &trans      &mt LEFT_SHIFT SPACE
            >;
        };

        sym_layer {
            bindings = <
                &to BASE        &kp RPAR    &kp COLON   &kp LPAR
                &kp SQT         &kp RBKT    &kp EQUAL   &kp LBKT
                &skp LEFT_CONTROL &skp LEFT_GUI &skp LEFT_ALT &trans      &trans
            >;
        };

        nav_layer {
            bindings = <
                &to BASE        &kp END     &kp UP      &kp HOME
                &kp DEL         &kp RIGHT   &kp DOWN    &kp LEFT
                &skp LEFT_CONTROL &skp LEFT_GUI &skp LEFT_ALT &kp BSPC    &kp LEFT_SHIFT
            >;
        };

        mouse_layer {
            bindings = <
                &to BASE        &msc SCRL_DOWN &mmv MOVE_UP   &msc SCRL_UP
                &mo MOUSE_FAST  &mmv MOVE_RIGHT &mmv MOVE_DOWN &mmv MOVE_LEFT
                &skp LEFT_CONTROL &skp LEFT_GUI    &mkp MCLK      &mkp RCLK     &mkp LCLK
            >;
        };

        func_layer {
            bindings = <
                &to BASE        &kp F6      &kp F5      &kp F4
                &kp F12         &kp F3      &kp F2      &kp F1
                &skp LEFT_CONTROL &skp LEFT_GUI &skp LEFT_ALT &lt NUM BSPC &mt LEFT_SHIFT SPACE
            >;
        };

        sys_layer {
            bindings = <
                &trans          &out OUT_TOG &bt BT_SEL 4 &bt BT_SEL 3
                &none           &bt BT_SEL 2 &bt BT_SEL 1 &bt BT_SEL 0
                &none           &none        &none        &bt BT_CLR  &mo MEDIA
            >;
        };

        media_layer {
            bindings = <
                &trans          &kp C_NEXT  &kp C_PP    &kp C_PREV
                &none           &kp C_VOL_UP &kp C_MUTE  &kp C_VOL_DN
                &none           &none       &none       &none       &trans
            >;
        };

        mouse_fast_layer {
            bindings = <
                &to BASE        &fmsc FAST_SCRL_DOWN &fmmv FAST_MOVE_UP   &fmsc FAST_SCRL_UP
                &trans          &fmmv FAST_MOVE_RIGHT &fmmv FAST_MOVE_DOWN &fmmv FAST_MOVE_LEFT
                &skp LEFT_CONTROL &skp LEFT_GUI       &mkp MCLK           &mkp RCLK          &mkp LCLK
            >;
        };
    };
};
